* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaf0f7;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
  border-bottom: 1px solid #4461f2;
  background-color: #4461f2;
  border-radius: 2px;
}

li {
  display: inline-block;
  margin: 0 20px;

}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a.logo{
  letter-spacing: 1px;
  color:white;
}

.menu,
.login-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.menu a,
.login-container a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 23vh;
  justify-content: space-around;
}

input.input-text {
  margin: 2.5px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.header {
  font-size: 1.5rem;
}

.paragrafo {
  font-size: 0.9rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container input {
  border: none;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  outline: 1px solid #4461f2;
}

.form-container input:focus {
  outline: 2px solid #4461f2;
}

button {
  border: none;
  padding: 0.7rem 1.5rem;
  background-color: #4461f2;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #2341d6;
}

a.registro {
  margin-top: 0.3rem;
  color: #4461f2;
  font-size: 1.3rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}
 
.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #eaf0f7;
  padding: 1em 2em;
}
 
.modal__footer {
  text-align: right;
  margin-top: 50px;
}
 
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
 
.modal__footer-btn-close {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  background-color: #4461f2;
  color: white;
  border-radius: 3px;
}
