* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eaf0f7;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
  border-bottom: 1px solid #4461f2;
  background-color: #4461f2;
  border-radius: 2px;
}

li {
  display: inline-block;
  margin: 0 20px;

}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a.logo{
  letter-spacing: 1px;
  color:white;
}

.menu,
.login-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.menu a,
.login-container a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0 1rem;
}

#btn-register {
  background-color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  color: #4461f2;
  transition: 0.5s;
}

#btn-register:hover {
  background-color: #cfd6f7;
}

#btn-signIn {
  padding: 0.5rem 1rem;
  color: #4461f2;
}

#btn-signIn::after {
  content: " ";
  display: block;
  width: 1.3rem;
  height: 0.2rem;
  background-color: #4461f2;
  margin: 0 auto;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 23vh;
  justify-content: space-around;
}

input.input-text {
  margin: 2.5px;
}

.mensagem {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.header {
  font-size: 1.5rem;
}

.paragrafo {
  font-size: 0.9rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container input {
  border: none;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-radius: 10px;
  outline: 1px solid #4461f2;
}

.form-container input:focus {
  outline: 2px solid #4461f2;
}

.form-container button {
  border: none;
  padding: 0.7rem 1.5rem;
  background-color: #4461f2;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.form-container button:hover {
  background-color: #2341d6;
}

a.registro {
  margin-top: 0.3rem;
  color: #4461f2;
  font-size: 1.3rem;
}

.modal-container {
  width: 100vw;
  position: fixed;
  top: 30px;
  display: none;
  z-index: 999;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btns button {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
