{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet"/>
    <title>TeleMed</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="index.html"><img src="{%static 'images/logo.png'%}"></a>
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="/login/">Entrar</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="home">
        <div class="home-infos">
          <h1>TeleMed</h1>
          <p>
            Bem-vindo ao site do TeleMed, onde nós utilizamos da tecnologia para cuidar de você!
          </p>
          <a href="" class="btn">Agende sua consulta</a>
        </div>
        <div class="home-img">
          <img src="{% static 'images/medica-com-mascara.png' %}" />
        </div>
      </section>

      <section id="servicos">
        <div class="servicos-infos">
          <h1 class="servicos-txt">SERVIÇOS</h1>
          <h2 class="servicos-txt">Como podemos ajudá-lo a se sentir melhor?</h2>
        </div>

        <div class="cards">
          <div class="card">
              <div class="card-infos">
                <h5 class="card-title">Problemas digestivos</h5>
                <p class="card-txt">Com nossa bela equipe de gastroenterologistas que cuidarão de todos os problemas em seu sistema digestório, indicando desde os medicamentos até os tratamentos necessários.</p>
              </div>
          </div>

          <div class="card">
            <div class="card-infos">
              <h5 class="card-title">Saúde Hormonal</h5>
              <p class="card-txt">A esolha de um médico para o tratamento hormonal é fundamental no encaminhamento de tratamentos relacionados à fisiologia hormonal, como reposição e modulação hormonal.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-infos">
              <h5 class="card-title">Bem-estar mental</h5>
              <p class="card-txt">Estar em paz com seus sentimentos e emoções é extremamente importante para que ocorra o bom funcionamento de todas as outras funções do corpo. Com uma equipe muito bem preparada de psiquiatras que terão por objetivo diagnosticar, tratar, prevenir e reabilitar.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-infos">
              <h5 class="card-title">Cuidados Pediátricos</h5>
              <p class="card-txt">Nossos pediatras tem por objetivo cuidar de todo e qualquer processo, inicial ou não, tanto de diagnóstico e quanto de condutas, que envolvam a saúde de bebês, crianças e adolescentes, buscando a melhor forma de tratar o pequeno paciente e orientar seus responsáveis.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-infos">
              <h5 class="card-title">Autoimune e Inflamação</h5>
              <p class="card-txt">O médico imunologista estuda, diagnostica, trata e previne as doenças autoimunes, causadas pelo próprio sistema imune quando não reconhece as células de determinado órgão.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-infos">
              <h5 class="card-title">Saúde do Coração</h5>
              <p class="card-txt">O coração é o músculo mais importante do corpo. A cada batida ele fornece alimento e oxigênio às células. Um coração saudável é a chave para um corpo saudável, e seu coração precisa de exercícios para mantê-lo em forma. Assim, nossos cardiologista tem a missão de proporcioar a saúde necessária para esse orgão fundamental.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="about">
        <div class="about-infos">
            <h1>Sobre Nós</h1>
            <h2>Entenda quem somos e porque existimos</h2>
            <p>
              Somos alunos do 3º ano de informática que nos desafiamos a construir um site voltado para a área da saúde, todo este trabalho serviu para o aprimoramento de nossa habilidades com a programação e também para que pudessemos compartilhar com outros estudantes e professores o nosso serviço.
            </p>

        </div>
        <div class="about-img">
            <img src="{% static 'images/medico-com-crianca.png' %}">
        </div>
    </section>

    <footer>
      <img src="{% static 'images/logo.png' %}">
      <p>©2022 TeleMed.</p>
      <p>Todos os direitos reservados.</p>
    </footer>

    </main>
  </body>
</html>
