{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<title>Registrar-se</title>
</head>
<body>
	<div class="navbar-container">
    <div class="menu">
      <a href="/">Inicío</a>
      <a href="/#servicos">Serviços</a>
      <a href="/#about">Sobre</a>
    </div>
  </div>
	<div class="container">
		<h1>Se cadastrar como médico</h1>

		<form action="{% url 'registrar_medico' %}" method="POST" autocomplete="off">
			{% csrf_token %}

			{{ form.as_p }}

			<button type="submit">Registrar</button>
		</form>

	</div>
</body>
</html>